* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Radio Canada';
    background-color: #f5f5f0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
}
.photo {
    filter: grayscale(1);
    object-fit: cover;
    aspect-ratio: 3 / 4;
    width: 100%;
}